:root {
    --accent-clr: hsl(204, 100%, 91%);
    --accent-clr2: hsl(225, 94%, 27%);
    --text-clr: hsl(0, 0%, 27%);
    --text-clr-transp: hsl(204, 32%, 75%);
    --bg-clr: hsl(0, 12%, 93%);
    --bg-clr-darker: hsl(0, 0%, 90%);
    --clr-white: hsl(0, 0%, 100%);
}